.featured-slider {
	position: relative;
	width: 100%;

	figure {
		margin: 0;
		height: 100vh;
		min-height: 300px;
		@include mq($mq-medium) {
			min-height: 650px;
		}
	}



	/* Arrows */
	.slick-arrow {
		position: absolute;
		display: block;
		height: 36px;
		width: 36px;
		line-height: 0;
		font-size: 0;
		cursor: pointer;
		background: transparent;
		color: transparent;
		top: 50%;
		transform: translate(0, -50%);
		padding: 0;
		border: none;
		outline: none;
		z-index: 5;

		@include mq($mq-medium) {
			height: 36px;
			width: 36px;
		}

		@include mq($mq-full) {
			height: 60px;
			width: 60px;
		}

		&:hover, &:focus {
			outline: none;
			background: transparent;
			color: transparent;
			&:before {
				opacity: .8;
			}
		}

		&:focus {
			outline: 1px dotted $white;
		}

		&.slick-disabled:before {
			opacity: 0;
		}

		&:before {
			@extend %font-icon;
			font-size: 24px;
			line-height: 1;
			color: $white;
			opacity: 1;

			@include mq($mq-medium) {
				font-size: 36px;
			}

			@include mq($mq-full) {
				font-size: 60px;
			}
		}
	}

	.slick-prev {
		left: 15px;
		&:before {
			content: "\e905";
		}
	}

	.slick-next {
		right: 15px;
		&:before {
			content: "\e906";
		}
	}
}