/*
====================
	WOO SIDEBAR STYLES
====================
*/

.woocommerce {
    .store-sidebar {
        width: 310px;
        float: left;
        margin-right: -310px;
        padding-right: 36px;
    }
}