.portfolio-carousel {
	position: absolute;
	min-height: 550px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $white;
	margin-top: 70px;
	padding: 70px 70px 70px 90px;
	display: flex;
	align-items: center;
	z-index: 99;

	.carousel-item {
		margin: 0 9px;
	}
}